* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

#slider {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.js-slider {
    display: flex;
    flex-wrap: no-wrap;
    overflow: hidden;
}

.js-slider__slideTrack {
    height: 100%;
    display: flex;
    left: 0px;
    position: relative;
    transition: all ease 1s;
}

.js-slider__slide {
    width: 750px;
    height: 400px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}